[
    ItemDefinition (
        key: TestItemA,
        user_data: ItemProperties (
            damages: [
                (Physical, 20.0),
            ],
            crit_chance: 0.0,
            mining_level: 1,
            chopping_level: 1,
            attack_speed: 1.0,
            mining_speed: 1.0,
            attack_range: 1.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Test Item A",
        friendly_name: "test_item_a",
        description: "A simple test item.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: RustyDagger,
        user_data: ItemProperties (
            damages: [
                (Physical, 20.0),
            ],
            crit_chance: 0.0,
            mining_level: 1,
            chopping_level: 1,
            attack_speed: 1.0,
            mining_speed: 1.0,
            attack_range: 1.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Rusty Dagger",
        friendly_name: "rusty_dagger",
        description: "no special effect, 2dmg per hit",
        maximum_stack: Some(1),
        maximum_durability: Some(10),
    ),
    ItemDefinition (
        key: MagicalGauntlet,
        user_data: ItemProperties (
            damages: [
                (Magical, 20.0),
            ],
            crit_chance: 0.0,
            mining_level: 1,
            chopping_level: 1,
            attack_speed: 1.0,
            mining_speed: 1.0,
            attack_range: 1.0,
            can_range: true,
            rarity: Common,
        ),
        slot_type: (),
        name: "Magical Gauntlet",
        friendly_name: "magical_gauntlet",
        description: "ranged, 4 magic dmg per hit, 5 mana used",
        maximum_stack: Some(1),
        maximum_durability: Some(20),
    ),
    ItemDefinition (
        key: UnobtainiumPlatesChestpieceTier8,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Legendary,
        ),
        slot_type: (),
        name: "Unobtainium Plates Chestpiece Tier VIII",
        friendly_name: "unobtainium_chestpiece_8",
        description: "A legendary armor piece made from the most unknown materials.",
        maximum_stack: Some(1),
        maximum_durability: Some(2000),
    ),
    ItemDefinition (
        key: UnobtainiumPlate,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Mythic,
        ),
        slot_type: (),
        name: "Unobtainium Plate",
        friendly_name: "unobtainium_plate",
        description: "A plate made from an unknown material. It looks extremely resilient and black in color.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: DemonicGlue,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: VeryRare,
        ),
        slot_type: (),
        name: "Demonic Glue",
        friendly_name: "demonic_glue",
        description: "Glue extracted from demonic beings. I wouldn't touch that directly, if I were you.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: DraconicEnergyCore,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Mythic,
        ),
        slot_type: (),
        name: "Draconic Energy Core",
        friendly_name: "draconic_energy_core",
        description: "The energy core extracted from a powerful dragon. It can provide energy to very powerful armors.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: SoulOfTheTrueMage,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Epic,
        ),
        slot_type: (),
        name: "Soul Of The True Mage",
        friendly_name: "soul_of_the_true_mage",
        description: "An extremely rare artifact obtained by extracting the soul of a legendary-class mage.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Welder,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Welder",
        friendly_name: "welder",
        description: "Combines metals together.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Forge,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Rare,
        ),
        slot_type: (),
        name: "Forge",
        friendly_name: "forge",
        description: "Provides heat strong enough to melt metals. I don't suggest cooking food in one of those.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    
    ItemDefinition (
        key: MagicOrbTier8,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: VeryRare,
        ),
        slot_type: (),
        name: "Magic Orb Tier VIII",
        friendly_name: "magic_orb_8",
        description: "The 8th level of the magic orb, cabable of casting very strong spells and allows crafting of high tier armor.",
        maximum_stack: None,
        maximum_durability: None,
    ),

	 ItemDefinition (
        key: SilverKukri,
        user_data: ItemProperties (
            damages: [
                (Physical, 20.0),
            ],
            crit_chance: 10.0,
            mining_level: 1,
            chopping_level: 1,
            attack_speed: 1.0,
            mining_speed: 1.0,
            attack_range: 1.0,
            can_range: false,
            rarity: Common,
        ),    
            slot_type: (),
            name: "Silver Kukri",
            friendly_name: "silver_kukri",
            description: "10% chance critical hit",
            maximum_stack: Some(1),
            maximum_durability: Some(10),
    ),    
            
    ItemDefinition (
        key: GrassFiber,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Grass Fiber",
        friendly_name: "grass_fiber",
        description: "Fibers extracted from ground-level grass.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Log,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Log",
        friendly_name: "log",
        description: "A log from a tree that was cut down.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Rock,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Small Rock",
        friendly_name: "rock",
        description: "A small piece of rock. It is irregular in shape and gray.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: SeliOre,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Seli Ore",
        friendly_name: "ore_seli",
        description: "Mineral containing some Seli.",
        maximum_stack: None,
        maximum_durability: None,
           
    ),
    ItemDefinition (
        key: StoneAxe,
        user_data: ItemProperties (
            damages: [
                (Physical, 20.0),
            ],
            crit_chance: 1.0,
            mining_level: 1,
            chopping_level: 2,
            attack_speed: 1.0,
            mining_speed: 1.0,
            attack_range: 1.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Stone Axe",
        friendly_name: "stone_axe",
        description: "can break wood",
        maximum_stack: Some(1),
        maximum_durability: Some(10),
    ),
    ItemDefinition (
        key: GemStone,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Gemstone",
        friendly_name: "gemstone",
        description: "A curious looking gem. Amber in color.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Plank,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Plank",
        friendly_name: "plank",
        description: "A plank cut from solid wood.",
        maximum_stack: None,
        maximum_durability: None,
    ),
    ItemDefinition (
        key: Kneesocks,
        user_data: ItemProperties (
            damages: [],
            crit_chance: 0.0,
            mining_level: 0,
            chopping_level: 0,
            attack_speed: 0.0,
            mining_speed: 0.0,
            attack_range: 0.0,
            can_range: false,
            rarity: Common,
        ),
        slot_type: (),
        name: "Kneesocks",
        friendly_name: "kneesocks",
        description: "The best feminine garment to have ever existed. Boosts beauty by 100%!",
        maximum_stack: None,
        maximum_durability: None,
    ),
]	

