[
    StatDefinition (
        key: Health,
        name: "Health",
        friendly_name: "health",
        default_value: 100.0,
        min_value: Some(0.0),
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: AfterlifeEssence,
        name: "Afterlife Essence",
        friendly_name: "afterlife_essence",
        default_value: 100.0,
        min_value: Some(0.0),
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: AfterlifeDrain,
        name: "Afterlife Drain",
        friendly_name: "afterlife_drain",
        default_value: 0.0046296, // 6 hours
        min_value: None,
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: AttackSpeedMultiplier,
        name: "Attack Speed Multiplier",
        friendly_name: "attack_speed_multiplayer",
        default_value: 1.0,
        min_value: Some(0.0),
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: Temperature,
        name: "Temperature",
        friendly_name: "temperature",
        default_value: 0.0,
        min_value: None,
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: MovementSpeedMultiplier,
        name: "Movement Speed Multiplier",
        friendly_name: "movement_speed_multiplier",
        default_value: 1.0,
        min_value: Some(0.0),
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: LifeLength,
        name: "Life Length",
        friendly_name: "life_length",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: None,
        icon_path: None,
    ),
    StatDefinition (
        key: MagicHandling,
        name: "Magic Handling",
        friendly_name: "magic_handling",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
    StatDefinition (
        key: MetalForging,
        name: "Metal Forging",
        friendly_name: "metal_forging",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
    StatDefinition (
        key: Gluing,
        name: "Gluing",
        friendly_name: "gluing",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
    StatDefinition (
        key: MysticalComprehension,
        name: "Mystical Comprehension",
        friendly_name: "mystical_comprehension",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
    StatDefinition (
        key: MysticalCrafting,
        name: "Mystical Crafting",
        friendly_name: "mystical_crafting",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
    StatDefinition (
        key: Sawing,
        name: "Sawing",
        friendly_name: "sawing",
        default_value: 0.0,
        min_value: Some(0.0),
        max_value: Some(10.0),
        icon_path: None,
    ),
]
