[
    TileDefinition (
        key: Air,
        mining_level: None,
        chopping_level: None,
        explosion_level: None,
        gather_time: 0.0,
        drops: [],
        character: ' ',
        solid: false,
        icon: None,
    )
]

// TODO move to tile definition once minigene has proper color support.
impl From<Tiles> for ColorPair {
    fn from(t: Tiles) -> Self {
        match t {
            Tiles::Air => ' ',
            Tiles::Grass => '.',
            Tiles::GrassLong => ',',
            Tiles::Border => 'b',
            Tiles::Bedrock => 'B',
            Tiles::Tree => 'T',
            Tiles::Rock => 'o',
            Tiles::SeliOre => '-',
            Tiles::GemStoneOre => '^',
            Tiles::Stone => '0',
        }
    }
}
