[
    TileDefinition (
        key: Air,
        name: "Air",
        harvest_types: [],
        harvest_time: -1.0,
        drops: [],
        character: ' ',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: Grass,
        name: "Grass",
        harvest_types: [(Shoveling, 1)],
        harvest_time: 1.0,
        drops: [],
        character: '.',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: GrassLong,
        name: "Long Grass",
        harvest_types: [(Shoveling, 1)],
        harvest_time: 1.0,
        drops: [],
        character: ',',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: Border,
        name: "Area Border",
        harvest_types: [],
        harvest_time: -1.0,
        drops: [],
        character: 'b',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: Bedrock,
        name: "World Floor",
        harvest_types: [],
        harvest_time: -1.0,
        drops: [],
        character: 'B',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: Tree,
        name: "Tree",
        harvest_types: [(Chopping, 1)],
        harvest_time: 20.0,
        // TODO
        drops: [],
        character: 'T',
        solid: true,
        icon: None,
    ),
    TileDefinition (
        key: Rock,
        name: "Small Rock",
        harvest_types: [],
        harvest_time: 1.0,
        // TODO
        drops: [],
        character: 'o',
        solid: false,
        icon: None,
    ),
    TileDefinition (
        key: SeliOre,
        name: "Seli Ore",
        harvest_types: [(Mining, 1)],
        harvest_time: 30.0,
        // TODO
        drops: [],
        character: '-',
        solid: true,
        icon: None,
    ),
    TileDefinition (
        key: GemStoneOre,
        name: "Gemstone Ore",
        harvest_types: [(Mining, 1)],
        harvest_time: 20.0,
        // TODO
        drops: [],
        character: '^',
        solid: true,
        icon: None,
    ),
    TileDefinition (
        key: Stone,
        name: "Stone",
        harvest_types: [(Mining, 1)],
        harvest_time: 10.0,
        // TODO
        drops: [],
        character: '0',
        solid: true,
        icon: None,
    ),
]
